/********** Desktop ************/
.header_container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.header_info {
  display: flex;
}

.logo_header {
  display: flex;
  justify-content: center;
  margin: 25px 0px 0px 0px;
  height: 75px;
}

/*Menu */
#nav {
  background: black;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
#nav ul {
  margin:0;
  padding:0;
}
#nav li {
  list-style:none;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  margin:0;
  padding:0;
}
#nav li a {
  display:block;
  text-decoration:none;
  color:white;
  padding:1em;
}
#nav li a:hover {
  color:#ba1313;
  font-weight: 600;
}
.show-menu {
  background: #191919;
  text-decoration: none;
  color: #fff;
  text-align: left;
  padding: 5px;
  display: none;
}
.show-menu b{
  font-size:30px;
}
.show-menu span{
  margin-right: 1em;
  float:right;
}
#nav input[type=checkbox]{
  display: none;
}
#nav input[type=checkbox]:checked ~ #menus {
  display: block;
}
/********** Tablette **********/
@media (max-width: 992px) {
  .logo_header{
    margin-top: 15px ;
  
  }
  #nav{
    font-size: 15px;
    
  }
}

/************* Mobile *******************/
@media (max-width: 768px) {
  .header_info {
    display: flex;
    justify-content: center;
  }

  .logo_header {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
  .logo_header img {
    z-index: 1;
  }
  .show-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  #nav {
    justify-content: normal;
  }
  /*menu*/
  #nav{
    justify-content: normal;
  }
  #nav ul {
    position: static;
    display: none;
    }
#nav li {
    border-bottom: 1px solid #333;
    }
#nav ul li, #nav li a {
    width: 100%;
    font-size: 13px;
    }
#nav li a{
    display:block;
    height:auto;line-height:normal;
    }
#nav li a {
    text-align:left;
    }
.show-menu {
    display:block!important;
    line-height:30px;
    }
.show-menu:hover {
    cursor:pointer;
    }
label {
    margin:0!important;
    }
}
/************* Mobile *******************/
@media (max-width: 450px) {
  #nav li a {
    font-size: smaller;
  }
  #nav ul li, #nav li a{
    width: 70%;
  }
}
